body, html {
  background: black;
  height: 100%;
  margin: 0;
  padding-top: 1%;
}

.container {
  height: 100%;
}

.flex-container {
  display: flex; 
  justify-content: center;
}

#midi {
  background: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 20px;
}